{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": true,
  "endOfLine": "lf",
  "semi": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true
}
