@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

@layer components {
  .page-container {
    @apply flex w-full flex-grow flex-col items-center justify-center from-cappuccino from-0% to-offwhite to-5%
    px-4 py-8 sm:bg-gradient-to-r sm:py-20 md:px-12 lg:px-20;
  }

  .form-input-container {
    @apply flex w-full flex-col;

    label {
      @apply ml-2;
    }
  }

  .markdown-container {
    @apply flex flex-col gap-4 sm:gap-6;

    a {
      @apply underline underline-offset-2;
    }

    blockquote {
      @apply p-4 text-center text-base font-semibold sm:p-6 sm:text-xl;

      > p::before {
        content: '„';
      }

      > p::after {
        content: '“';
      }
    }

    ul {
      @apply list-disc pl-8;
    }

    h1 {
      @apply mt-10 text-5xl font-bold sm:text-6xl;
    }

    h2 {
      @apply mt-8 text-4xl font-semibold sm:text-5xl;
    }

    h3 {
      @apply mt-6 text-3xl font-semibold sm:text-4xl;
    }

    h4 {
      @apply mt-4 text-2xl font-semibold sm:text-3xl;
    }

    h5 {
      @apply mt-2 text-xl font-semibold sm:text-2xl;
    }
  }
}
